/* Header Styles */
.portfolio-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: var(--bg-color);
  color: var(--text-color);
  transition: background-color 0.3s, color 0.3s;
}

.portfolio-header .logo {
  font-size: 2rem;
  font-weight: bold;
}

.portfolio-header nav ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.portfolio-header nav ul li {
  margin: 0 1rem;
}

.portfolio-header nav ul li a {
  text-decoration: none;
  color: var(--text-color);
  font-size: 1.2rem;
}

.portfolio-header .controls button {
  margin-left: 0.5rem;
  padding: 0.5rem 1rem;
  background: none;
  border: 1px solid var(--text-color);
  color: var(--text-color);
  cursor: pointer;
}

.portfolio-header .controls button:hover {
  background-color: var(--text-color);
  color: var(--bg-color);
}

/* Hamburger Menu for Mobile */
.hamburger {
  display: none;
  cursor: pointer;
  flex-direction: column;
  margin-left: auto;
  justify-content: space-around;
  width: 30px;
  height: 21px;
}

.hamburger span {
  display: block;
  height: 3px;
  width: 100%;
  background-color: var(--text-color);
}

/* Nav Menu hidden by default on mobile */
.portfolio-header nav {
  display: flex;
}

.portfolio-header nav.open ul {
  display: flex;
}

/* Make nav links visible when menu is open */
.portfolio-header.active nav ul {
  display: flex;
  flex-direction: column;
}

.portfolio-header.active nav ul li {
  margin: 1rem 0;
}

/* Styles for the mobile menu button (hamburger) */
@media (max-width: 768px) {
  .portfolio-header nav ul {
    display: none;
    align-items: anchor-center;
  }
  .portfolio-header .controls {
    display: none;
  }
  .hamburger {
    display: flex;
  }
  .portfolio-header nav ul {
    display: none; /* Hide the nav items on mobile */
    flex-direction: column;
    position: absolute;
    top: 60px; /* Position it below the header */
    right: 0;
    background-color: var(--bg-color);
    width: -webkit-fill-available;
    padding: 1rem 2rem;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  }
}
